@namespace WebFrontend.Components.Core.Chat.StatusBubbles
@using WebFrontend.Components.UI.Shared

<div class="@GetClasses">
    <span class="material-symbols-outlined text-sm text-yellow-400 animate-pulse">psychology</span>
    <span class="text-xs">@Status.Message</span>
</div>

@code {
    private static string GetClasses => ClassBuilder.Merge(
        "px-4 py-3 rounded-full bg-muted/25 text-muted-foreground inline-flex items-center gap-2 max-w-fit border border-border",
        "transition-all duration-200 ease-in-out hover:brightness-150");

    [Parameter]
    public required AssessmentAnalyzingStatus Status { get; set; }
}
