@using WebFrontend.Components.UI.Shared

@* Progress bar component *@
<div
    data-slot="progress"
    role="progressbar"
    aria-valuemin="0"
    aria-valuemax="@Max"
    aria-valuenow="@Math.Clamp(Value, 0, Max)"
    class='@ClassBuilder.Merge("bg-primary/20 relative h-2 w-full overflow-hidden rounded-full", Class)'
    @attributes="AdditionalAttributes">
    <div
        data-slot="progress-indicator"
        class="bg-primary h-full w-full flex-1 transition-all"
        style="transform: translateX(-@(_indicatorOffset)%)">
    </div>
</div>

@code {
    [Parameter] public int Value { get; set; }
    [Parameter] public int Max { get; set; } = 100;
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private int _indicatorOffset => 100 - Math.Clamp(Value * 100 / (Max <= 0 ? 100 : Max), 0, 100);
}

