@using WebFrontend.Components.UI.Shared

@* Tabs root container *@
<div
    data-slot="tabs"
    data-orientation="@Orientation"
    class='@ClassBuilder.Merge("group/tabs flex gap-2", Orientation == "horizontal" ? "flex-col" : null, Class)'
    @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Orientation { get; set; } = "horizontal";
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}

