@using WebFrontend.Components.UI.Shared
@* Dropdown menu radio group component *@
<div 
    data-slot="dropdown-menu-radio-group"
    class="@ClassBuilder.Merge("", Class)"
    @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
