@using WebFrontend.Components.UI.Shared
@namespace WebFrontend.Components.UI.Card

@* Card footer component *@
<div
    data-slot="card-footer"
    class="@ClassBuilder.Merge("flex items-center px-6 [.border-t]:pt-6", Class)"
    @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
