@using WebFrontend.Components.UI.Shared
@* Table data cell wrapper *@
<td
    data-slot="table-cell"
    class='@ClassBuilder.Merge("p-2 align-middle whitespace-nowrap [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]", Class)'
    @attributes="AdditionalAttributes">
    @ChildContent
</td>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}

