@inherits LayoutComponentBase

<div class="relative flex flex-col md:flex-row min-h-screen bg-background">
    <div class="bg-card border-r border-border md:w-[17.5%] md:h-screen md:sticky md:top-0">
        <NavMenu/>
    </div>

    <main class="flex-1 flex flex-col">
        <article class="flex-1 overflow-y-hidden px-4 md:px-8">
            @Body
        </article>
    </main>

    <DropdownPortal />
</div>
