@using WebFrontend.Components.UI.Shared
@namespace WebFrontend.Components.UI.Avatar

@* Avatar container component *@
<CascadingValue Value="this">
    <div
        data-slot="avatar"
        data-size="@Size"
        class="@GetClass()"
        @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Size { get; set; } = "default";
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetClass()
    {
        var baseClasses = "group/avatar relative flex size-8 shrink-0 overflow-hidden rounded-full select-none data-[size=lg]:size-10 data-[size=sm]:size-6";
        return ClassBuilder.Merge(baseClasses, Class);
    }
}
