@namespace WebFrontend.Components.UI.Tooltip

@* Tooltip provider component (wrapper for tooltip context) *@
<div @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public int DelayDuration { get; set; } = 0;
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
