@namespace WebFrontend.Components.UI.Tooltip

@* Tooltip root component *@
<div class="tooltip-root" data-tooltip-id="@TooltipId">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
